@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-brand: #27ae60;

  --animate-shake: shake 1s ease-in-out infinite;

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-2px);
    }
    40% {
      transform: translateX(2px);
    }
    60% {
      transform: translateX(-2px);
    }
    80% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

html,
body {
  @apply antialiased bg-zinc-50 dark:bg-neutral-900;
}

h1,
p {
  @apply text-neutral-800 dark:text-zinc-100;
}

*::selection {
  @apply bg-brand text-white;
}

html {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

html a:not([role="menuitem"]):hover {
  opacity: 0.5;
}
